<!DOCTYPE html>
<html>
    <head>
        <title>Accueil</title>
        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <!-- <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"> -->
        <!-- Custom style -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <h1>Accueil</h1>

            <div class="row">
                <nav class="col-sm-2 col-sm-offset-10">
                    <ul class="nav nav-pills nav-stacked fixed">
                        <li class="active"><a href="#">Accueil</a></li>
                        <li><a href="#">Résumé</a></li>
                        <li><a href="{{ absolute_url('secretaire') }}">Secrétaire</a></li>
                        <li><a href="{{ absolute_url('prevision') }}">Prévision</a></li>
                        <li><a href="{{ absolute_url('logout') }}">Déconnexion</a></li>
                    </ul>
                </nav>
            </div>

            <div class="row">
                <section class="col-sm-8 col-sm-offset-2">
                    {% if utilisateur.nom is defined and utilisateur.nom is defined %}
                    <h4 class="text-center">Bienvenue</h4>
                    <h3 class="text-center">{{ utilisateur.nom }} {{ utilisateur.prenom }}</h3>
                    {% if statut is defined %}
                    <p class="text-center">Vous avez le statut de <strong>{{ statut }}</strong><br>
                        {% endif %}
                        {% if roles is defined %}
                        Vous avez accès aux pages : </p>
                    <ul class="list-unstyled text-center">
                        {% for role in roles %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endif %}
                </section>
            </div>
        </div>

        {% block javascripts %}
        <!-- JQuery, JQuery UI, Autocompleter, Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Autocompleter calls -->
        <script type="text/javascript">

            $('#prevision_idutilisateur').autocompleter({
                url_list: "{{ absolute_url('prevision/search-utilisateurs') }}",
                url_get: "{{ absolute_url('prevision/get-utilisateurs') }}"
            });

            $('#prevision_ue').autocompleter({
                url_list: "{{ absolute_url('prevision/search-ue') }}",
                url_get: "{{ absolute_url('prevision/get-ue') }}"
            });

            $('#prevision_typecours').autocompleter({
                url_list: "{{ absolute_url('prevision/search-typecours') }}",
                url_get: "{{ absolute_url('prevision/get-typecours') }}"
            });

        </script>
        {% endblock %}

    </body>
</html>