<!DOCTYPE html>
<html>
	<head>
		<title>Module de prévision</title>
		{% block stylesheets %}
		<!-- Bootstrap core CSS -->
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Bootstrap theme -->
		<!-- <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"> -->
		<!-- Autocompleter theme -->
		<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
		<!-- Custom style -->
		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
		{% endblock %}
	</head>
	<body>

		<div class="container">
			<h1>Module de prévision</h1>
			<div class="row">
				<section class="col-sm-8 col-sm-offset-2">
					{{ form_start(form) }}
					{{ form_widget(form) }}
					{{ form_end(form) }}
				</section>
			</div>
		</div>

		{% block javascripts %}
		<!-- JQuery, JQuery UI, Autocompleter, Bootstrap -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<!-- Autocompleter calls -->
		<script type="text/javascript">

			$('#prevision_idutilisateur').autocompleter({
                url_list: "{{ absolute_url('prevision/search-utilisateurs') }}",
                url_get: "{{ absolute_url('prevision/get-utilisateurs') }}"
			});

			$('#prevision_ue').autocompleter({
                url_list: "{{ absolute_url('prevision/search-ue') }}",
                url_get: "{{ absolute_url('prevision/get-ue') }}"
			});

			$('#prevision_typecours').autocompleter({
                url_list: "{{ absolute_url('prevision/search-typecours') }}",
                url_get: "{{ absolute_url('prevision/get-typecours') }}"
			});

		</script>
		{% endblock %}

	</body>
</html>