<!DOCTYPE html>
<html>
  <head>
    <title>Département</title>
    		{% block stylesheets %}
		<!-- Bootstrap core CSS -->
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Bootstrap theme -->
		<!-- <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"> -->
		<!-- Autocompleter theme -->
		<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
		<!-- Custom style -->
		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
		{% endblock %}
    <link rel="stylesheet" href="{{ asset('bundles/style.css') }}" type="text/css" />
  </head>
  <body>

    	<div class="container">
    		<h1>Gestion Département</h1>

			<div class="row">
				<nav class="col-sm-2 col-sm-offset-10">
					<ul class="nav nav-pills nav-stacked fixed">
						<li><a href="#">Résumé</a></li>
						<li><a href="{{ absolute_url('secretaire') }}">Secrétaire</a></li>
						<li class="active"><a href="{{ absolute_url('prevision') }}">Prévision</a></li>
						<li><a href="{{ absolute_url('logout') }}">Déconnexion</a></li>
					</ul>
				</nav>
			</div>






    		<div class="row">
					<section class="col-sm-8 col-sm-offset-2">
						{{ form_start(form) }}
						{{ form_widget(form) }}
						{{ form_end(form) }}
					</section>
    		</div>
    	</div>











    			{% block javascripts %}
		<!-- JQuery, JQuery UI, Autocompleter, Bootstrap -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
		<script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<!-- Autocompleter calls -->
		<script type="text/javascript">

			$('#previsionnel_previsionnelbundle_departements_nom').autocompleter({
                url_list: "{{ absolute_url('prevision/search-departement') }}",
                url_get: "{{ absolute_url('prevision/get-departement') }}"
			});



		</script>
		{% endblock %}
  </body>
</html>
