<!DOCTYPE html>
<html>
	<head>
		<title>Page professeur</title>
		{% block stylesheets %}
		<!-- Bootstrap core CSS -->
		<link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Bootstrap theme -->
		<!-- <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"> -->
		<!-- Autocompleter theme -->
		<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
		<!-- Custom style -->
		<link href="{{ asset('css/style.css') }}" rel="stylesheet">
		{% endblock %}
	</head>
	<body>

		<div class="container">
			<h1>Résumé pour {{ user.prenom }} {{ user.nom }}</h1>

			<div class="row">
				<nav class="col-sm-2 col-sm-offset-10">
					<ul class="nav nav-pills nav-stacked fixed">
                        <li><a href="../../accueil">Accueil</a></li>
                        {% if utilisateur.id is defined and annee is defined and "Résumé des cours" in roles %}
                        <li class="active"><a href="../../page-professeur/{{ annee }}/{{ utilisateur.id }}">Résumé</a></li>
                        {% endif %}
                        {% if "Secrétaire" in roles %}
                        <li><a href="../../secretaire">Secrétaire</a></li>
                        {% endif %}
                        {% if "Affectation d'heures de cours" in roles %}
                        <li><a href="../../prevision">Prévision</a></li>
                        {% endif %}
                        {% if "Affectation des départements" in roles %}
                        <li><a href="../../departement">Départements</a></li>
                        {% endif %}
                        {% if "Voir les tickets" in roles %}
                        <li><a href="../../tickets">Tickets</a></li>
                        {% endif %}
                        <li><a href="../../logout">Déconnexion</a></li>
					</ul>
				</nav>
			</div>
			<div class="row"><button id="cmd">Générer PDF</button></div>
			<div class="row">
				<section class="col-sm-8 col-sm-offset-2">
					<article class="row">
						<div id="linechart" class="col-md-6 col-md-push-6"></div>
						<div class="col-md-6 col-md-pull-6">
							<p>Nombre d'heures totales: {{ total }}</p>
							<p>Nombre d'heures hors-service : {{horsService}}</p>
							<p>Nombre d'heures totales avec coefficients: {{ totalCoeff }}</p>

							<div class="row">
								<ul class="ue-list list-unstyled col-xs-12 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
									{% for ue in UEs %}
									{% for u in ue %}
									<li>
										{{ u.nom }}<br/>
										{% for key, he in heuresUEs %}
										{% if key == u.id %}
										{% if he.CM is defined %} CM: {{he.CM}} heure(s){% endif %} {% if he.TD is defined %} TD: {{he.TD}} heure(s){% endif %} {% if he.TP is defined %} TP: {{he.TP}} heure(s){% endif %} {% if he.AUTRE is defined %} Autre: {{he.AUTRE}} heure(s){% endif %}</li>
									{% endif %}
									{% endfor %}
									</li>
								{% endfor %}
								{% endfor %}
								</ul>
							</div>
						</div>
					</article>
				</section>
		</div>
		</div>

	{% block javascripts %}
	<!-- JQuery, JQuery UI, Autocompleter, Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.highcharts.com/4.1.8/highcharts.js"></script>
	<script src="https://code.highcharts.com/4.1.8/modules/exporting.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.1.135/jspdf.min.js"></script>
	<script src="http://cdn.uriit.ru/jsPDF/libs/adler32cs.js/adler32cs.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
	<script src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.addimage.js"></script>
	<script src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.standard_fonts_metrics.js"></script>
	<script src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.split_text_to_size.js"></script>
	<script src="http://cdn.immex1.com/js/jspdf/plugins/jspdf.plugin.from_html.js"></script>
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/export.js') }}"></script>
	<script src="{{ asset('js/html2canvas.js') }}"></script>
	<script type="text/javascript">
		{{ chart(linechart) }}
	</script>
	{% endblock %}

	</body>
</html>
