<!DOCTYPE html>
<html>
<head>
    <title>Module de prévision</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <!-- <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"> -->
        <!-- Autocompleter theme -->
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
        <!-- Custom style -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>

    <div class="container">
        <h1>Envoi Ticket</h1>
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <nav>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="accueil">Accueil</a></li>
                        {% if utilisateur.id is defined and annee is defined and "Résumé des cours" in roles %}
                        <li><a href="page-professeur/{{ annee }}/{{ utilisateur.id }}">Résumé</a></li>
                        {% endif %}
                        {% if "Secrétaire" in roles %}
                        <li><a href="secretaire">Secrétaire</a></li>
                        {% endif %}
                        {% if "Affectation d'heures de cours" in roles %}
                        <li><a href="prevision">Prévision</a></li>
                        {% endif %}
                        {% if "Affectation des départements" in roles %}
                        <li><a href="departement">Départements</a></li>
                        {% endif %}
                        {% if "Voir les tickets" in roles %}
                        <li class="active"><a href="tickets">Tickets</a></li>
                        {% endif %}
                        <li><a href="logout">Déconnexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>

            <div class="row">
                <section class="col-sm-8 col-sm-offset-2">

                    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
                    {{ form_row(form.motif) }}
                    {{ form_row(form.message) }}

                    <div class="hidden" >
                        {{ form_row(form.date) }}
                        {{ form_row(form.etat,{'value':'C'}) }}
                        {{ form_row(form.IdExpediteur,{value:  utilisateur.id } ) }}
                    </div>

                    {{ form_row(form.idUE) }}
                    <button class="btn btn-success" type="submit">envoyer </button>

                    {{ form_end(form) }}
                </section>
            </div>
    </div>
            {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
            <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>

                <!-- Autocompleter calls -->
                <script type="text/javascript">
                    $('#mawace_ticketbundle_ticket_idUE').autocompleter({
                        url_list: "{{ absolute_url('prevision/search-ue') }}",
                        url_get: "{{ absolute_url('prevision/get-ue') }}"
                    });
                </script>

            {% endblock %}

    </body>
</html>