<!DOCTYPE html>
<html>
    <head>
        <title>Module de secrétaire</title>
        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Bootstrap theme -->
        <!-- <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet"> -->
        <!-- Custom style -->
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

        <div class="container">

            <h1>Liste des Tickets</h1>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-10">
                    <nav>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="accueil">Accueil</a></li>

                            <li><a href="page-professeur/}">Résumé</a></li>


                            <li><a href="secretaire">Secrétaire</a></li>


                            <li ><a href="prevision">Prévision</a></li>


                            <li><a href="departement">Départements</a></li>


                            <li class="active"><a href="tickets">Tickets</a></li>

                            <li><a href="logout">Déconnexion</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <section class="col-sm-8 col-sm-offset-2">
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Motif</th>
                                <th>Message</th>
                                <th>Etat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in listeTickets %}
                            <tr>
                                <td>{{ticket.motif}}</a></td>
                                <td>{{ticket.message}}</td>
                                <td>{{ticket.etat}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
            

        </div>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="{{ asset('bundles/pugxautocompleter/js/autocompleter-jqueryui.js') }}"></script>
        {% endblock %}
    </body>
</html>
